@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  padding: 40px 90px 40px 90px;
}

.fc-button {
  background-color: #d42222 !important;
  border: none !important;
}

.fc-event {
  background-color: rgb(255, 72, 0);
}

.fc-day-today {
  background-color: rgba(255, 0, 0, 0.15) !important;
}
