@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

.Header-post{
    /* border: 1px solid red; */
    box-shadow: 5px 0px 50px 1px rgba(0, 0, 0, 0.02);
    border-radius: 43px;
    margin-top: 50px;

}

.user-info-post {
    display: flex;
    align-items: center;
    padding: 20px;
}

.user-info-post img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.Name-post {
    padding-left: 40px ;
    margin-top: -40px;
}

.Name-post h1, .Name-post p {
    padding: 0px;
    margin: -15px;
}

.Name-post p {
    color: #C5C7CD;
}

.option{
    padding: 30px;
    margin-top: -40px;
}

.option button{
    background: none;
    border: none;
    cursor: pointer;
}

.post-detail { 
    padding: 15px;
    padding-top: 30px;
    margin-top: -50px;
    padding-bottom: 0px;
    height: 120px;
    background-color: #e7e7e739;
    /* border-radius: 0px 0px 43px 43px; */
}

.Post-text {
    padding: 20px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 300;
    max-height: 80px;
    overflow: hidden;
}

.bottom-post {
    background-color: rgba(255, 154, 154, 0.57);
    border-radius: 0px 0px 43px 43px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-post button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}

