@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

.main-content {
    margin-top: -24px;
    background-color: #ffffff;
    height: 100vh;
}

.Login-header {
    width: 100%px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Login-header img {
    width: 250px;
    padding-left: 30px;
    padding-top: 10px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Login-container {
    
    /* margin-left: 600px; */
    margin-top: 60px;
    width: 400px;
    height: 500px;
    border: 1px solid #D6D6D6;
    padding: 30px;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.Main-header {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.Main-header h3{
    font-size: 30px;
    font-weight: 500;
}

.Email-form {
    /* border: 1px solid red; */
    margin-top: 20px;
    height: 70px;
    border-bottom: 2px solid #999999;
}


.Email-form h4{
    font-size: 15px;
    color: #999999;
    font-weight: 400;
}

.Email-input {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
}

.Email-input input{
    margin-left: 10px;
    width: 100%;
    background: none;
    border: none;
}

.Email-input input:focus{
    outline: none;
}

.Password-form {
    margin-top: 20px;
    height: 70px;
    border-bottom: 2px solid #999999;
    
}

.Password-form h4{
    font-size: 15px;
    color: #999999;
    font-weight: 400;
}

.Password-form input{
    width: 90%;
    background: none;
    border: none;
    margin-left: 10px;
}

.Password-form input:focus {
    outline: none;
}

.Password-input {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
}

.forget-pass {
    padding-top: 20px;
}

.forget-pass button{
    background: none;
    border: none;
    cursor: pointer;
}

.submit {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit button{
    width: 90%;
    height: 45px;
    border: none;
    background-color: #DD1212;
    filter: drop-shadow(0 2px 8px rgba(254, 39, 39, 0.323));
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    
}

.Register {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.Register h5{
    font-weight: 400;
    margin-right: 10px;
}

.Register button{
    background: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.Worng-password {
    font-size: 13px;
    color: #DD1212;
    padding-top: 10px;
}