@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

.app nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.app-nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-logo-img{
    width: 250px;
    padding: 5px;
}

.app-nav-logo button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    padding-top: 20px;
    
}
.app-profile {
    display: flex;
    align-items: center;
    border-left: 1px solid #F6F6F6;
    padding-left: 20px;
    padding-right: 40px;
}

.app-profile-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 14px;
}

.app-profile button{
    background: none;
    border: none;
    cursor: pointer;

    padding-left: 20px;
}

.app-profile-info {
    flex-grow: 1;
}

.app-profile h3, p {
    margin: -8px;
    padding-left: 10px;
}

.app-search {
    background-color: #FAFAFA;
    padding: 10px;
    border-radius: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.app-search input{
    background-color: #FAFAFA;
    width: 400px;
    font-size: 16px;
    border: none;
}

.app-search input:focus{
    outline: none;
}

.app-search img{
    padding-left: 10px;
    width: 25px;
}

.app-search button {
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 10px;
    padding-top: 7px;

}

.app-search button img {
    width: 25px;
}