body {
  padding-top: 24px; /* Adjust this value based on the height of your fixed navigation bar */
  background-color: #F9F9F9;
}

.Main {
  margin-top: 60px; /* Adjust this value based on the height of your fixed navigation bar */
  display: flex;
}

.content {
  padding-left: 340px;
}