body {
  padding-top: 24px; /* Adjust this value based on the height of your fixed navigation bar */
  background-color: #F9F9F9;
}

.Main {
  margin-top: 60px; /* Adjust this value based on the height of your fixed navigation bar */
  display: flex;
}

.Box-content {
  transition: transform 0.2s ease-out; /* Add a transition for smooth movement */
  width: 1560px;
  padding-top: 10px;
}

.content {
  padding-left: 340px;
}

.content.show-content .Box-content {
  transform: translateX(0);
}

.content.hide-content .Box-content {
  transform: translateX(-17%);
  width: 1880px;
}